<html>
<! This registration portal was made by Aditya Narayan. Contact: narayanaditya95@gmail.com>
<head>
	<title>Robotix 2015</title>
	{% load staticfiles %}
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />
</head>
<body>

	<div id="header">
		<img src="{% static 'rbtx.png' %}" width="250" style="float: left;" />
		<img src="{% static 'KTJLogo.png' %}" width="250" style="float: right;" />
	</div>
	{% block content %}
	{% endblock %}
</body>
</html>