{% extends 'fms/base_site.html' %}

{% block header %}
Participant Registration
{% endblock %}

{% block content %}
<div id="content" width="100%">
<p>
	<span style="font-family: 'BigNoodle'; font-size: 18pt;"><b>Register yourself here:</b></span><br><br>
	<form method="post" action="{% url 'participant:register' %}">
    {% csrf_token %}
    <table width="100%">
    {{ form.as_table }}
    </table>
    <br />
    <div style="text-align: center">
    <input type="submit" value="Register" style="height:40px; width:100px;" align="center"/>
    </div>
	</form>
	<a class="gen-btn1" style="top:35%; left:80%;" href="{% url 'index' %}">HOMEPAGE</a>
</p>
</div>
{% endblock %}
