{% extends "base.html" %}

{% block subject %}
ROBOTIX '13 Online Portal
{% endblock %}

{% block content %}

<font color="red">
<strong>
  Portal is now up, with the necessary changes in scoring rules. Don't forget to promote teams to round two before scoring them.
 <p>This is your home page. Find links for registration and judging below. </p>

<p>Call me (Soumyadeep) at 7407651462 if there are any problems and if you do Keep a Pizza ready.</p>
</strong>
</font>

<p>Please choose one of the following (you'll be prompted to log-in if you're not already logged in):</p>

<ul>
  <li>
	<a href="/register">Register participants</a>
  </li>
  <li>
View the list of registered participants for a particular event. You can then get detailed information about individual participants.
	<ul>
	  <li><a href="/list/all">All Events</a></li>
	  <li><a href="/list/lu">Lumos</a></li>
	  <li><a href="/list/ov">Overhaul</a></li>
	  <li><a href="/list/ab">Abyss</a></li>
	  <li><a href="/list/se">Seeker</a></li>
	  <li><a href="/list/ac">ACROSS</a></li>
	  
	</ul>


<li>
Judge Events:
	<ul>
	  <li>Lumos</li>
	  <ul>
		<li><a href="/judge/lu/1/xx0">Round 1</a></li>
		<li><a href="/judge/lu/2/xx0">Round 2</a></li>
		<li><a href="/judge/lu/3/xx0">Round 3</a></li>
	  </ul>
	  <li>Overhaul</li>
	  <ul>
		<li><a href="/judge/ov/1/xx0">Round 1</a></li>
		<li><a href="/judge/ov/2/xx0">Round 2</a></li>
        <li><a href="/judge/ov/3/xx0">Round 3</a></li>
	  </ul>
	  <li>Abyss</li>
	  <ul>
		<li><a href="/judge/ab/1/xx0">Round 1</a></li>
		<li><a href="/judge/ab/2/xx0">Round 2</a></li>
		<li><a href="/judge/ab/3/xx0">Round 3</a></li>
	  </ul>
	  <li>ACROSS</li>
	  <ul>
		<li><a href="/judge/ac/1/xx0">Round 1</a></li>
		<li><a href="/judge/ac/2/xx0">Round 2</a></li>
	    <li><a href="/judge/ac/3/xx0">Round 3</a></li>
      </ul>
      <li>Seeker</li>
	  <ul>
		<li><a href="/judge/se/1/xx0">Round 0</a></li>
		<li><a href="/judge/se/2/xx0">Round 1</a></li>
	    <li><a href="/judge/se/3/xx0">Round 2</a></li>
      </ul>

	  <li><a href="/timer">Timer for Judging</a></li>  
	</ul>
  </li>
  <li>
	Performance score-boards:
	<ul>
	  <li>Lumos</li>
	  <ul>
		<li><a href="/scores/lu/1">Round 1</a></li>
		<li><a href="/scores/lu/2">Round 2</a></li>
		<li><a href="/scores/lu/3">Round 3</a></li>
	  </ul>
	  <li>Overhaul</li>
	  <ul>
		<li><a href="/scores/ov/1">Round 1</a></li>
		<li><a href="/scores/ov/2">Round 2</a></li>
        <li><a href="/scores/ov/3">Round 3</a></li>
	  </ul>
	  <li>Abyss</li>
	  <ul>
		<li><a href="/scores/ab/1">Round 1</a></li>
		<li><a href="/scores/ab/2">Round 2</a></li>
		<li><a href="/scores/ab/3">Round 3</a></li>
	  </ul>
	  <li>ACROSS</li>
	  <ul>
		<li><a href="/scores/ac/1">Round 1</a></li>
		<li><a href="/scores/ac/2">Round 2</a></li>
        <li><a href="/scores/ac/2">Round 2</a></li> 
	  </ul>
	  <li>Seeker</li>
	  <ul>
		<li><a href="/scores/se/1">Round 0</a></li>
		<li><a href="/scores/se/2">Round 1</a></li>
        <li><a href="/scores/se/2">Round 2</a></li> 
	  </ul>
	</ul>
  </li>
  <li>
	View Distinctions
	<ul>
	  <li><a href="/bestalgo">Best Algorithm Design Prospects</a></li>
	  <li><a href="/bestmech">Best Mechanical Design Prospects</a></li>
	</ul>
  </li>
  <li>
	Promote Teams
	<ul>
	  <li>Lumos
		<ul>
		  <li><a href="/promote/lu/1">From round 1 to round 2</a></li>
		  <li><a href="/promote/lu/2">From round 2 to round 3</a></li>
		</ul>
	  </li>
	  <li>Overhaul
		<ul>
		  <li><a href="/promote/ov/1">From round 1 to round 2</a></li>
                  <li><a href="/promote/ov/2">From round 2 to round 3</a></li> 
		</ul>
	  </li>
	  <li>Abyss
		<ul>
		  <li><a href="/promote/ab/1">From round 1 to round 2</a></li>
		  <li><a href="/promote/ab/2">From round 2 to round 3</a></li>
		</ul>
	  </li>
	  <li>ACROSS
		<ul>
		  <li><a href="/promote/ac/1">From round 1 to round 2</a></li>
                  <li><a href="/promote/ac/2">From round 2 to round 3</a></li>
		</ul>
	  </li>
	</ul>
  </li>
  <li>
	Teams not scored for the first round:
	<ul>
	  <li><a href="/notscored/lu/1">Lumos</a></li>
	  <li><a href="/notscored/ov/1">Overhaul</a></li>
	  <li><a href="/notscored/ab/1">Abyss</a></li>
	  <li><a href="/notscored/ac/1">ACROSS</a></li>
	</ul>
  </li>
</ul>
-->
{% endblock %}

