{% extends "base.html" %}

{% block content %}
<p><font size="120px" color="red">0<span id="id_stopwatch"></span></font></p>
<p>Stopwatch for the event Nuke Clear. Hit 'Reset' before clicking on the Start/Stop button. Click <a href="/">here</a> to go back home.</p>
<p>
<input type="button" name="ssbutton" value="START / STOP" onClick="startstop()">
<input type="button" name="reset" value="RESET" onClick="swreset()">
<!--<input type="button" name="reset" value="COPY" onClick="copytime()">
<input type="button" value="SCORE" onClick="getScore()" /> -->
</p>

<!-- <form action="" method="post" id="theOneAndOnly"> 
  <input type="submit" value="SUBMIT" />
  <p></p>
  <table border="2" cellpadding="2">
	{{ form.as_table }}
  </table>
</form> -->

<script type="text/javascript">
		

function startstop() {
	if (state == 0) {
		state = 1;
		then = new Date();
		then.setTime(then.getTime() - ms);
	} else {
		state = 0;
		now = new Date();
		ms = now.getTime() - then.getTime();
		document.getElementById('id_stopwatch').innerHTML = (ms / 1000.0).toFixed(2);
	}
}

function swreset() {
	state = 0;
	ms = 0;
	document.getElementById('id_stopwatch').innerHTML = (ms / 1000.0).toFixed(2);
}

function display() {
	setTimeout("display();", 50);
	if (state == 1)  {now = new Date();
					  ms = now.getTime() - then.getTime();
					  document.getElementById('id_stopwatch').innerHTML = (ms / 1000.0).toFixed(2);
					 }
}


function ajaxRequest(){
	var activexmodes=["Msxml2.XMLHTTP", "Microsoft.XMLHTTP"] //activeX versions to check for in IE
	if (window.ActiveXObject){ //Test for support for ActiveXObject in IE first (as XMLHttpRequest in IE7 is broken)
		for (var i=0; i<activexmodes.length; i++){
			try{
				return new ActiveXObject(activexmodes[i])
			}
			catch(e){
				//suppress error
			}
		}
	}
	else if (window.XMLHttpRequest) // if Mozilla, Safari etc
		return new XMLHttpRequest()
	else
		return false
}


window.onload = display
</script>
{% endblock %}
